<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @influencer.name %>
</p>

<p>
  <strong>Social media:</strong>
  <%= @influencer.social_media %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @influencer.followers %>
</p>

<p>
  <strong>Engagement:</strong>
  <%= @influencer.engagement %>
</p>

<%= link_to 'Edit', edit_influencer_path(@influencer) %> |
<%= link_to 'Back', influencers_path %>
